*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar{
    width: 100%;
    height: 80px;
    background: white;
    position: relative;
    z-index: 3;
    transition: all 1s;
    >a{
        display: inline-block;
        left: 173px;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 0;
        font-weight: 900;
        text-decoration: none;
        margin-top: 10px;
        color: #000000;
    }
    .navbar-collapse {
        width: 770px;
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 14px;
        ul{
            overflow: hidden;
            text-align: left;
            line-height: 50px;
            li {
                width: 100px;
                float: left;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                a{
                    padding-bottom: 4px;
                    text-decoration: none;
                    color: #000;
                }
                a.active{
                    color: red  !important;
                }
            }
        }
    }
    .place{
        clear: both;
        /* width: 100%; */
        height: 80px;
        line-height: 50px; 
        padding: 0 20px;
        color: white;
        -moz-box-shadow: 5px 5px 10px #B7B7B7;
        box-shadow: 0px 0px 8px #B7B7B7;
    }
    
}
/* nav end*/

#counter-first{
    width: 100%;
    height: 300px;
    background-image: url(../imgs/bg_4.jpg);
    background-attachment: fixed;
    background-position: 50% -50.7px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    >section{
        width: 100%;
        height: 300px;
        background: rgba(0, 0, 0, 0.5);
        background-position: 50% -200.7px;
        position: relative;
        z-index: 1;
        .first-con{
            width: 1200px;
            height: 100px;
            padding-top: 100px;
            margin: auto;
            text-align: center;
            z-index: 2;
            color: rgba(255,255,255,0.8);
            p:nth-of-type(1){
                font-size: 2.5rem;
                font-weight: 900;
                color: #fff;
                margin-bottom: 20px;
            }
            p a{
                display: inline-block;
                font-size: 15px;
                padding-bottom: 4px;
                text-decoration: none;
                color: rgba(255,255,255,0.8);
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            }
        }
    }
}
/* counter-first  end*/


#about{
    width: 1200px;
    height: 750px;
    position: relative;
    margin: auto;
    >img{
        width: 500px;
        height: 750px;
        position: absolute;
        top: 0;
        left: 0;
    }
    >button{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 300px;
        left: 460px;
        background: #FFF;
        text-align: center;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        >img{
            width: 81px;
            height: 81px;
            border-radius: 50px;
        }
    }
    .about-left{
        width: 600px;
        height: 800px;
        position: absolute;
        right: 0;
        top: 0;
        p{
            font-size: 30px;
            margin: 20px 0;
            font-weight: bold;
        }
        >span:nth-of-type(1){
            font-weight: normal;
            font-size: 30px;
            display: block;
            margin-bottom: 0;
            color: #f67979;
            position: relative;
            line-height: 1;
            font-family: -webkit-pictograph;
            margin-bottom: -20px;
            z-index: -1;
            margin-top: 100px;
        }
        >span:nth-of-type(2){
            color: #999999;
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .about-data{
            width: 100%;
            height: 150px;
            h4{
                color: #000;
                font-weight: 900;
                font-size: 20px;
                margin: 30px 0;
            }
            div{
                width: 30%;
                height: 100px;
                text-align: center;
                color: #999999;
                float: left;
                img{
                    width: 171px;
                    height: 150px;
                    margin-bottom: 20px;
                }
                &:hover span{
                    color: #000;
                    cursor: pointer;
                }
            }
            div:nth-of-type(2){
                margin: 0 20px;
            }
            
        }
    }

}

#div-video{
    width: 1067px;
    height: 600px;
    display: none;
    position: fixed;
    top: 100px;
    left: 300px;
    button{
        width: 25px;
        position: absolute;
        top: -20px;
        right: 1px;
        z-index: 1;
        color: red;
        cursor: pointer;
    }
    video{
        position: fixed;
        top: 80px;
        left: 300px;
    }
}

/* about end*/


#counter{
    width: 100%;
    height: 250px;
    background-image: url(../imgs/bg_4.jpg);
    background-attachment: fixed;
    background-position: 50% -50.7px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    >section{
        width: 100%;
        height: 250px;
        background: rgba(0, 0, 0, 0.5);
        background-position: 50% -200.7px;
        position: relative;
        z-index: 1;
        .counter-con{
            width: 1200px;
            height: 100px;
            margin: auto;
            text-align: center;
            z-index: 2;
            .counter-text{
                width: 300px;
                height: 100px;
                float: left;
                color: #FFF;
                font-weight: 900;
                margin-top: 75px;
                h1{
                    font-size: 38px;
                    margin: 15px;
                }
                h5{
                    color: rgba(255,255,255,0.8);
                }
            }
        }
    }
}
/* counter end*/


#testimony{
    width: 100%;
    height: 550px;
    background-image: url(../imgs/bg_5.jpg);
    background-attachment: fixed;
    background-position: 0 50.3px;
    background-size: 100%;
    position: relative;
    text-align: center;
    >button{
        width: 30%;
        height: 550px;
        background: rgba(0, 0, 0, 0.2);
        color: transparent;
        outline: none;
        border: 0;
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    >button:nth-of-type(1){
        left: 0;
    }
    >button:nth-of-type(2){
        right: 0;
    }
    h1:nth-of-type(1){
        margin-top: 80px;
        padding-top: 45px;
        font-weight: normal;
        font-size: 30px;
        display: block;
        color: rgba(255,255,255, 0.7);
        position: relative;
        line-height: 1;
        font-family: -webkit-pictograph;
        margin-left: -30px;
    }
    h1:nth-of-type(2){
        color: #fff;
        margin-bottom: 80px;
    }
    .testimony-car{
        width: 600px;
        height: 350px;
        margin: auto;
        position: relative;
        overflow: hidden;
        .testimony-con{
            width: 600px;
            height: 350px;
            background: transparent;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            img{
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
            span{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #fff;
                text-align: center;
                line-height: 45px;
                position: absolute;
                top: 105px;
                left: 320px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            p{
                color: rgba(255,255,255, 0.7);
                margin: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            & ::selection{
                background: transparent;
            }
        }
        .active-rigth{
            left: 600px;
        }
        .active-left{
            left: -600px;
        }
    }
    ul{
        position: absolute;
        bottom: 20px;
        left: 44%;
        li{
            float: left;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 20px;
            cursor: pointer;
            background: transparent;
            border: 1px solid #000;
        }
        li.active{
            background: red;
        }
    }
}

/* testimony end*/


#chef{
    width: 100%;
    height: 725px;
    text-align: center;
    h1:nth-of-type(1){
        margin-top: 80px;
        font-weight: normal;
        font-size: 30px;
        display: block;
        color: #f67979;
        position: relative;
        line-height: 1;
        font-family: -webkit-pictograph;
        margin-left: -30px;
    }
    h1:nth-of-type(2){
        margin-bottom: 80px;
    }
    .chef-con{
        width: 1200px;
        height: 500px;
        margin: auto;
        text-align: left;
        div{
            width: 25%;
            float: left;
            height: 530px;
            img{
                width: 20px;
                height: 20px;
                float: left;
                cursor: pointer;
                margin-top: 10px;
                margin-left: 25px;
            }
            img:nth-of-type(1){
                width: 280px;
                height: 316px;
                margin: 0;
            }
            p{
                margin-top: 10px;
                margin-left: 25px;
                color: #999999;
                line-height: 30px;
                
            }
            p:nth-of-type(1){
                display: inline-block;
                margin-top: 25px;
                color: #000;
                font-size: 18px;
                font-weight: 600;
            }
            p:nth-of-type(3){
                color: #666666;
                height: 90px;
                width: 270px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 14px;
            }
        }
    }
}
/* chef end*/


#foods{
    width: 670px;
    height: 340px;
    margin: auto;
    text-align: center;
    h1:nth-of-type(1){
        margin-top: 80px;
        font-weight: normal;
        font-size: 30px;
        display: block;
        color: #f67979;
        line-height: 1;
        font-family: -webkit-pictograph;
        margin-left: -30px;
    }
    h1:nth-of-type(2){
        margin-bottom: 50px;
    }
    p{
        color: #999999;
    }
    a{
        width: 150px;
        height: 55px;
        background: #f34a4a;
        border: 1px solid #f34a4a;
        text-align: center;
        font-size: 20px;
        display: inline-block;
        line-height: 55px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
        transition: all 0.5s;
        text-decoration: none;
        &:hover{
            background: transparent;
            color: red;
        }  
    }
}
/* foods end*/


#end{
    width: 100%;
    height: 450px;
    background: #000;
    position: relative;
    .end-con{
        width: 1200px;
        height: 450px;
        margin: auto;
        >div{
            width: 270px;
            height: 290px;
            float: left;
            color: rgba(255,255,255,0.7);
            padding: 0 15px;
            h2{
                color: #fff;
                margin-bottom: 40px;
                font-size: 18px;
                font-weight: 700;
                margin-top: 50px;
            }
            p{
                margin: 20px 0;
                font-size: 14px;
                line-height: 30px;
            }
        }
        .end-dox-01 div{
            width: 100%;
            height: 20px;
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                float: left;
                margin: 20px;
            }
        }
        .end-dox-02 div{
            width: 100%;
            span{
                display: inline-block;
                width: 130px;
                height: 30px;
                font-size: 14px;
            }
        }
        .end-dox-03 input{
            border-radius: 2px;
            width: 250px;
            height: 52px !important;
            background: rgba(255, 255, 255, 0.1) !important;
            border: none;
            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 16px;
            text-align: center;
            margin-bottom: 0.5rem !important;
        }
        .end-dox-03 input:nth-of-type(2){
            width: 274px;
            background: #f34a4a !important;
            cursor: pointer;
        }
        .end-dox-04 img{
            width: 90px;
            height: 90px;
            float: left;
        }
    }

    >p{
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        bottom: 10px;
        left: 31%;
    }
}
/* end end*/


