* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar {
  width: 100%;
  height: 80px;
  background: white;
  position: relative;
  z-index: 3;
  transition: all 1s;
}

#navbar > a {
  display: inline-block;
  left: 173px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  font-weight: 900;
  text-decoration: none;
  margin-top: 10px;
  color: #000000;
}

#navbar .navbar-collapse {
  width: 770px;
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 14px;
}

#navbar .navbar-collapse ul {
  overflow: hidden;
  text-align: left;
  line-height: 50px;
}

#navbar .navbar-collapse ul li {
  width: 100px;
  float: left;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#navbar .navbar-collapse ul li a {
  padding-bottom: 4px;
  text-decoration: none;
  color: #000;
}

#navbar .navbar-collapse ul li a.active {
  color: red  !important;
}

#navbar .place {
  clear: both;
  /* width: 100%; */
  height: 80px;
  line-height: 50px;
  padding: 0 20px;
  color: white;
  -moz-box-shadow: 5px 5px 10px #B7B7B7;
  box-shadow: 0px 0px 8px #B7B7B7;
}

/* nav end*/
#counter-first {
  width: 100%;
  height: 300px;
  background-image: url(../imgs/bg_4.jpg);
  background-attachment: fixed;
  background-position: 50% -50.7px;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

#counter-first > section {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  background-position: 50% -200.7px;
  position: relative;
  z-index: 1;
}

#counter-first > section .first-con {
  width: 1200px;
  height: 100px;
  padding-top: 100px;
  margin: auto;
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
}

#counter-first > section .first-con p:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 20px;
}

#counter-first > section .first-con p a {
  display: inline-block;
  font-size: 15px;
  padding-bottom: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* counter-first  end*/
#contactIn {
  width: 100%;
  height: 500px;
  background: #fafafa;
}

#contactIn .contactIn-con {
  width: 1200px;
  padding: 120px 15px;
  margin: auto;
}

#contactIn .contactIn-con > div {
  width: 205px;
  height: 110px;
  float: left;
  margin-right: 30px;
  padding: 32px;
  background: #fff;
}

#contactIn .contactIn-con > div p {
  line-height: 2;
  font-weight: 400;
  color: #999999;
}

#contactIn .contactIn-con > div p span {
  color: #000;
}

#contactIn .contactIn-con h2 {
  margin-bottom: 30px;
}

/* contactIn  end*/
#contactUs {
  width: 1200px;
  height: 750px;
  margin: auto;
}

#contactUs > div {
  width: 50%;
  height: 600px;
  float: left;
}

#contactUs .usFrom {
  margin-top: 50px;
}

#contactUs .usFrom .form-control {
  height: 52px;
  width: 100%;
  background: #fff;
  color: #000000;
  font-size: 16px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  margin-right: 25px;
  padding: 5px 12px;
}

#contactUs .usFrom textarea {
  height: 150px !important;
}

#contactUs .usFrom .sub {
  background: #f34a4a;
  border: 1px solid #f34a4a;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border-radius: 3px;
  color: #fff;
  transition: all 0.5s;
  height: 52px;
  width: 286px;
  padding: 5px 12px;
  margin: 20px 0;
  margin-right: 25px;
  cursor: pointer;
}

#contactUs .usFrom .sub:hover {
  background: #ffffffde;
  color: #f34a4a;
}

/* contactUs  end*/
#end {
  width: 100%;
  height: 450px;
  background: #000;
  position: relative;
}

#end .end-con {
  width: 1200px;
  height: 450px;
  margin: auto;
}

#end .end-con > div {
  width: 270px;
  height: 290px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 15px;
}

#end .end-con > div h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}

#end .end-con > div p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 30px;
}

#end .end-con .end-dox-01 div {
  width: 100%;
  height: 20px;
}

#end .end-con .end-dox-01 div img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 20px;
}

#end .end-con .end-dox-02 div {
  width: 100%;
}

#end .end-con .end-dox-02 div span {
  display: inline-block;
  width: 130px;
  height: 30px;
  font-size: 14px;
}

#end .end-con .end-dox-03 input {
  border-radius: 2px;
  width: 250px;
  height: 52px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0.5rem !important;
}

#end .end-con .end-dox-03 input:nth-of-type(2) {
  width: 274px;
  background: #f34a4a !important;
  cursor: pointer;
}

#end .end-con .end-dox-04 img {
  width: 90px;
  height: 90px;
  float: left;
}

#end > p {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  bottom: 10px;
  left: 31%;
}

/* end end*/
