@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background: transparent;
  position: relative;
  z-index: 3;
  transition: all 1s;
}

#navbar > a {
  display: inline-block;
  left: 173px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  font-weight: 900;
  text-decoration: none;
  margin-top: 10px;
  color: #000000;
}

#navbar .navbar-collapse {
  width: 770px;
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 14px;
}

#navbar .navbar-collapse ul {
  overflow: hidden;
  text-align: left;
  line-height: 50px;
}

#navbar .navbar-collapse ul li {
  width: 100px;
  float: left;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#navbar .navbar-collapse ul li a {
  padding-bottom: 4px;
  text-decoration: none;
  color: #000;
}

#navbar .navbar-collapse ul li a.active {
  color: red  !important;
}

#navbar .navbar-collapse ul li:hover a {
  color: #000  !important;
}

#navbar .place {
  width: 100%;
  height: 80px;
  line-height: 50px;
  padding: 0 20px;
  -moz-box-shadow: 5px 5px 10px #B7B7B7;
  box-shadow: 0px 0px 8px #B7B7B7;
}

/* nav end*/
#carousel {
  width: 100%;
  height: 700px;
  position: relative;
}

#carousel > div {
  width: 100%;
  height: 700px;
}

#carousel > div .car-left {
  width: 570px;
  height: 550px;
  position: absolute;
  top: 100px;
  left: 170px;
  opacity: 1;
}

#carousel > div .car-left h1 {
  font-size: 30px;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
  font-weight: 700;
  margin: 20px 0;
}

#carousel > div .car-left > p {
  margin: 20px 0;
  color: #666666;
  font-size: 15px;
}

#carousel > div .car-left .carbox-imgs {
  width: 100%;
  height: 150px;
}

#carousel > div .car-left .carbox-imgs div {
  width: 33%;
  float: left;
  text-align: center;
  margin: 30px 0;
}

#carousel > div .car-left .carbox-imgs div p {
  font-size: 14px;
  color: #666666;
}

#carousel > div .car-left .carbox-imgs div p:hover {
  color: #000;
}

#carousel > div .car-left .carbox-imgs img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#carousel > div .car-left > a {
  width: 150px;
  height: 55px;
  background: #f34a4a;
  border: 1px solid #f34a4a;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  line-height: 55px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s;
  text-decoration: none;
}

#carousel > div .car-left > a:hover {
  background: transparent;
  color: red;
}

#carousel > div .car-img {
  width: 760px;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 2;
  overflow: hidden;
}

#carousel > div .car-img img {
  width: 760px;
  position: absolute;
  top: -200px;
  transition: all 1s;
  opacity: 0;
}

#carousel > div .car-img img.active {
  opacity: 1;
}

#carousel > button {
  width: 60px;
  height: 60px;
  outline: none;
  background: #fff;
  color: #000;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  border: 0;
  transition: all 1s;
}

#carousel > button:hover {
  background: #000;
  color: red;
}

#carousel > button:nth-of-type(1) {
  right: 62px;
}

#carousel > button:nth-of-type(2) {
  right: 0;
}

/* 轮播 end*/
#about {
  width: 1200px;
  height: 750px;
  position: relative;
  margin: auto;
}

#about > img {
  width: 500px;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
}

#about > button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 300px;
  left: 460px;
  background: #FFF;
  text-align: center;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

#about > button > img {
  width: 81px;
  height: 81px;
  border-radius: 50px;
}

#about .about-left {
  width: 600px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 0;
}

#about .about-left p {
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;
}

#about .about-left > span:nth-of-type(1) {
  font-weight: normal;
  font-size: 30px;
  display: block;
  margin-bottom: 0;
  color: #f67979;
  position: relative;
  line-height: 1;
  font-family: -webkit-pictograph;
  margin-bottom: -20px;
  z-index: -1;
  margin-top: 100px;
}

#about .about-left > span:nth-of-type(2) {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#about .about-left .about-data {
  width: 100%;
  height: 150px;
}

#about .about-left .about-data h4 {
  color: #000;
  font-weight: 900;
  font-size: 20px;
  margin: 30px 0;
}

#about .about-left .about-data div {
  width: 30%;
  height: 100px;
  text-align: center;
  color: #999999;
  float: left;
}

#about .about-left .about-data div img {
  width: 171px;
  height: 150px;
  margin-bottom: 20px;
  display: none;
}

#about .about-left .about-data div:hover {
  cursor: pointer;
}

#about .about-left .about-data div:hover span {
  color: #000;
}

#about .about-left .about-data div:nth-of-type(2) {
  margin: 0 20px;
}

#div-video {
  width: 1067px;
  height: 600px;
  display: none;
  position: fixed;
  top: 100px;
  left: 300px;
}

#div-video button {
  width: 25px;
  position: absolute;
  top: -20px;
  right: 1px;
  z-index: 1;
  color: red;
  cursor: pointer;
}

#div-video video {
  position: fixed;
  top: 80px;
  left: 300px;
}

/* about end*/
#counter {
  width: 100%;
  height: 250px;
  background-image: url(../imgs/bg_4.jpg);
  background-attachment: fixed;
  background-position: 50% -50.7px;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

#counter > section {
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  background-position: 50% -200.7px;
  position: relative;
  z-index: 1;
}

#counter > section .counter-con {
  width: 1200px;
  height: 100px;
  margin: auto;
  text-align: center;
  z-index: 2;
}

#counter > section .counter-con .counter-text {
  width: 300px;
  height: 100px;
  float: left;
  color: #FFF;
  font-weight: 900;
  margin-top: 75px;
}

#counter > section .counter-con .counter-text h1 {
  font-size: 38px;
  margin: 15px;
}

#counter > section .counter-con .counter-text h5 {
  color: rgba(255, 255, 255, 0.8);
}

/* counter end*/
#specialties {
  width: 1200px;
  height: auto;
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.8);
}

#specialties > h1:nth-of-type(1) {
  margin-top: 80px;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: #f67979;
  position: relative;
  line-height: 1;
  font-family: -webkit-pictograph;
  margin-left: -30px;
  z-index: -1;
}

#specialties > h1:nth-of-type(2) {
  margin-bottom: 80px;
}

#specialties .specialties-text {
  width: 400px;
  height: 500px;
  float: left;
}

#specialties .specialties-text h2 {
  margin-bottom: 40px;
}

#specialties .specialties-text div {
  width: 93%;
  height: 100px;
  position: relative;
  border-bottom: 1px dashed #e6e6e6;
  margin: 20px 0;
  display: none;
}

#specialties .specialties-text div:hover {
  border-bottom: 1px dashed black;
}

#specialties .specialties-text div:hover span:nth-of-type(3) {
  color: #000;
}

#specialties .specialties-text div img {
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

#specialties .specialties-text div span:nth-of-type(1) {
  position: absolute;
  top: 10px;
  left: 100px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

#specialties .specialties-text div span:nth-of-type(2) {
  position: absolute;
  bottom: 10px;
  left: 100px;
  color: #999999;
}

#specialties .specialties-text div span:nth-of-type(3) {
  position: absolute;
  right: 0;
  top: 10px;
  color: #999999;
  font-weight: 600;
}

#specialties > a {
  display: inline-block;
  width: 240px;
  height: 60px;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 60px;
  text-decoration: none;
}

/* specialties end */
#testimony {
  width: 100%;
  height: 550px;
  background-image: url(../imgs/bg_5.jpg);
  background-attachment: fixed;
  background-position: 0 50.3px;
  background-size: 100%;
  position: relative;
  text-align: center;
}

#testimony > button {
  width: 30%;
  height: 550px;
  background: rgba(0, 0, 0, 0.2);
  color: transparent;
  outline: none;
  border: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
}

#testimony > button:nth-of-type(1) {
  left: 0;
}

#testimony > button:nth-of-type(2) {
  right: 0;
}

#testimony h1:nth-of-type(1) {
  margin-top: 80px;
  padding-top: 45px;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  line-height: 1;
  font-family: -webkit-pictograph;
  margin-left: -30px;
}

#testimony h1:nth-of-type(2) {
  color: #fff;
  margin-bottom: 80px;
}

#testimony .testimony-car {
  width: 600px;
  height: 350px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#testimony .testimony-car .testimony-con {
  width: 600px;
  height: 350px;
  background: transparent;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

#testimony .testimony-car .testimony-con img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#testimony .testimony-car .testimony-con span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 105px;
  left: 320px;
}

#testimony .testimony-car .testimony-con span img {
  width: 20px;
  height: 20px;
}

#testimony .testimony-car .testimony-con p {
  color: rgba(255, 255, 255, 0.7);
  margin: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#testimony .testimony-car .testimony-con ::selection {
  background: transparent;
}

#testimony .testimony-car .active-rigth {
  left: 600px;
}

#testimony .testimony-car .active-left {
  left: -600px;
}

#testimony ul {
  position: absolute;
  bottom: 20px;
  left: 44%;
}

#testimony ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #000;
}

#testimony ul li.active {
  background: red;
}

/* testimony end */
#chef {
  width: 100%;
  height: 681px;
  text-align: center;
}

#chef h1:nth-of-type(1) {
  margin-top: 80px;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: #f67979;
  position: relative;
  line-height: 1;
  font-family: -webkit-pictograph;
  margin-left: -30px;
}

#chef h1:nth-of-type(2) {
  margin-bottom: 80px;
}

#chef .chef-con {
  width: 1200px;
  height: 500px;
  margin: auto;
  text-align: left;
}

#chef .chef-con div {
  width: 25%;
  float: left;
  height: 530px;
}

#chef .chef-con div img {
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 25px;
}

#chef .chef-con div img:nth-of-type(1) {
  width: 280px;
  height: 315px;
  margin: 0;
}

#chef .chef-con div p:nth-of-type(1) {
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
}

#chef .chef-con div p:nth-of-type(2) {
  margin-top: 10px;
  margin-left: 25px;
  color: #999999;
}

/* chef*/
#reservation {
  width: 1200px;
  height: 742px;
  margin: auto;
}

#reservation > img {
  width: 500px;
  height: auto;
}

#reservation > div {
  width: 650px;
  float: right;
}

#reservation > div > h1:nth-of-type(1) {
  margin-top: 80px;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: #f67979;
  line-height: 1;
  font-family: -webkit-pictograph;
}

#reservation > div > h1:nth-of-type(2) {
  margin-bottom: 80px;
}

#reservation > div .sub {
  background: #f34a4a;
  border: 1px solid #f34a4a;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
  transition: all 0.5s;
  height: 55px;
  cursor: pointer;
}

#reservation > div .sub:hover {
  background: #ffffffde;
  color: #f34a4a;
}

#reservation > div input, #reservation > div select {
  height: 52px;
  width: 286px;
  background: #fff;
  color: #000000;
  font-size: 16px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  margin-right: 25px;
  padding: 5px 12px;
}

#reservation > div select {
  width: 312px;
  height: 64px;
}

/* reservation*/
#end {
  width: 100%;
  height: 450px;
  background: #000;
  position: relative;
}

#end .end-con {
  width: 1200px;
  height: 450px;
  margin: auto;
}

#end .end-con > div {
  width: 270px;
  height: 290px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 15px;
}

#end .end-con > div h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}

#end .end-con > div p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 30px;
}

#end .end-con .end-dox-01 div {
  width: 100%;
  height: 20px;
}

#end .end-con .end-dox-01 div img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 20px;
  display: none;
}

#end .end-con .end-dox-02 div {
  width: 100%;
}

#end .end-con .end-dox-02 div span {
  display: inline-block;
  width: 130px;
  height: 30px;
  font-size: 14px;
}

#end .end-con .end-dox-03 input {
  border-radius: 2px;
  width: 250px;
  height: 52px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0.5rem !important;
}

#end .end-con .end-dox-03 input:nth-of-type(2) {
  width: 274px;
  background: #f34a4a !important;
  cursor: pointer;
}

#end .end-con .end-dox-04 img {
  width: 90px;
  height: 90px;
  float: left;
}

#end > p {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  bottom: 10px;
  left: 31%;
}

/* end end*/
